<h1 mat-dialog-title>Règles concernant les posts</h1>
<mat-dialog-content>
  <ul>
    <li>Le post ne doit pas être susceptible de heurter la sensibilité, choquer ou même provoquer le public en propageant une image de la personne humaine portant atteinte à sa dignité et à la décence</li>
    <li>Toute allusion, même humoristique, à une quelconque idée péjorative ou d’infériorité liée à l’appartenance à une ethnie ou à une religion est non autorisé.</li>
  </ul>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="approuved()">OK</button>
</mat-dialog-actions>
